:root {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --soft-red: 10 79% 65%;
    --cyan: 186 34% 60%;
    --dark-brown: 25 47% 15%;
    --medium-brown: 28 10% 53%;
    --cream: 27 66% 92%;
    --pale-orange: 33 100% 98%;
  }
}

* {
  box-sizing: border-box;
}